.sider
  height 100vh
.logo
  background rgba(0, 40, 77, 1)
  margin-bottom 15px
  overflow hidden
  padding 8px 0 7px
  .collapsed
    // background-image url('')
    background-image url('./image/logo.png')
    background-repeat no-repeat
    background-position center center
    background-size 45%
    background-position 24px 8px
    height 50px
    transition all 0.3s
  .spread
    background-image url('./image/logo.png')
    background-repeat no-repeat
    background-position center center
    background-size 50%
    margin-left -10px
    height 50px
